<header>
  <div>
    APP Header
  </div>
</header>
<main>
  <div>
    <p>---- END APP inner_content ----</p>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
    <p>---- END APP inner_content ----</p>
  </div>
</main>
